<!DOCTYPE html>
<html>

<head>
    <title>Todo List</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<script>
    function toggleCompleted(elementId) {
        var taskElement = document.getElementById(elementId);
        taskElement.classList.toggle("completed");
    }
</script>

<body>
    <div class="todo-panel">
        <h1>Todo List</h1>
        <form method="post">
            <input type="text" name="task" placeholder="Enter task" required>
            <button type="submit">Add Task</button>
        </form>
    </div>

    <center>

        <ul>
            {% for task in tasks %}

            <li class="list">

                <form id="editModule" class="edit-module" action="{{ url_for('edit_task') }}" method="post"
                    style="display: inline;">
                    <input type="hidden" name="old_task" value="{{ task }}">
                    <input id="task{{ loop.index }}" type="text" name="new_task" value="{{ task }}">
                    <button type="submit">✏️</button>
                </form>

                <form class="edit-module" action="{{ url_for('delete_task') }}" method="post" style="display: inline;">
                    <input type="hidden" name="task" value="{{ task }}">
                    <button type="submit">❌</button>
                </form>

                <button class="button" onclick="toggleCompleted('task{{ loop.index }}')">✅</button>

            </li>

            {% endfor %}

        </ul>

    </center>

</body>

</html>